body {
    background-color: rgb(43, 117, 92);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

img{
    width: 40%;
    height: 40%;
}
h2{
    color: rgb(122, 77, 120);
}